<!---------- Logged ----------->
<% if current_user %>
  <div class="navbar-minimalist">
    <div class="logo-nav">
      <%= link_to image_tag("logo/logo.png"), products_path %>
    </div>
  </div>
<!---------- Not Logged ----------->
<% else %>
  <div class="navbar-minimalist">
    <div classh="logo-nav">
      <%= link_to image_tag("logo/logo.png"), products_path %>
    </div>
    <div>
      <%= link_to new_user_session_path do %>
        <span class="px-5 mx-5"><i class="far fa-user"></i> Sign in</span>
      <% end %>
    </div>
    <%=  %>
  </div>
<% end %>
